<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{new?"Cambiar Contraseña":"Editar Usuario"}}</h3>
</div>
<form ng-submit="savePerfil()">
<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group mb-3">
        <span class="input-group-addon"><i class="icon-user"></i></span>
        <input type="password" class="form-control" placeholder="Contraseña Anterior" required>
      </div>
    </div>
    <div class="col-md-12">
      <div class="input-group mb-3">
        <span class="input-group-addon"><i class="icon-user"></i></span>
        <input type="password" class="form-control" placeholder="Nueva Contraseña" required>
      </div>
    </div>
    <div class="col-md-12">
      <div class="input-group mb-3">
        <span class="input-group-addon"><i class="icon-user"></i></span>
        <input type="password" class="form-control" placeholder="Repetir Contraseña" required>
      </div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="submit">OK</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
</form>
