<div class="animated fadeIn" ng-controller="UsersCtrl">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Listado de Capacitaciones
        </div>
        <div class="card-body">
          <!--<button ng-click="open('md',{})" class="btn btn-primary" style="float: right; margin-bottom: 10px;">Nuevo Usuario</button>-->
          <table ng-init="readUsers()" st-table="usersData" class="table table-striped">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Instructor</th>
                <th>Status</th>
                <th> - </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in usersData">
                <td>{{user.name}}</td>
                <td>{{user.instructor}}</td>
                <td><label class="btn text-white" ng-class="{'btn-success':user.status=='Activa', 'btn-warning':user.status=='Finalizado'}">{{user.status}}</label></td>
                <td>
                  <button type="button" class="btn btn-info"><i class="fa fa-pencil" style="color: white;" ng-click="open('md', user)"></i></button>
                  <button type="button" class="btn btn-danger"><i class="fa fa fa-trash" ng-click="delete($index)"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
