<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" ui-sref="app.main"></a>
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler" href="#">
        <span class="navbar-toggler-icon"></span>
      </a>
    </li>

  </ul>
  <ul class="nav navbar-nav ml-auto d-md-down-none">
    <!--<li class="nav-item">
      <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
    </li>-->
    <!-- <li class="nav-item">
      <a class="nav-link" href="#"><i class="icon-list"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="icon-location-pin"></i></a>
    </li> -->
    
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <img src="img/avatars/6.png" class="img-avatar">
      </a>
      <div class="dropdown-menu dropdown-menu-right">

       <div ng-if="userType == 'admin'">
        <div class="dropdown-header text-center">
          <strong><i class="fa fa-bell-o"></i> Notificaciones</strong>
        </div>

        <a class="dropdown-item" ui-sref="app.reports.list" href="#">Registro de nuevo usuario (28/02/2018) &nbsp;<button class="btn btn-warning pull-right"><i class="fa fa-check"></i></button><div class="clearfix"></div></a>
        <a class="dropdown-item" ui-sref="app.reports.list" href="#">Usuario ascendido a nivel instructor (1/03/2018) &nbsp;<button class="btn btn-success pull-right"><i class="fa fa-exclamation-triangle"></i></button><div class="clearfix"></div></a>
        <a class="dropdown-item" ui-sref="app.reports.list" href="#">Planificación Pospuesta para la siguiente semana (3/03/2018) &nbsp;<button class="btn btn-danger pull-right"><i class="fa fa-times"></i></button><div class="clearfix"></div></a>

        <!-- <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comment<span class="badge badge-warning">42</span></a> -->
        <!-- <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Perfil</a> -->
       </div>
        
        <div class="dropdown-header text-center">
          <strong>Salir</strong>
        </div>
        <a class="dropdown-item" ui-sref-active="active" ui-sref="app.perfil"><i class="fa fa-lock" style="color: black"></i> Perfil de Usuario</a>
    
        <a class="dropdown-item" ng-click="logout()" href="#"><i class="fa fa-sign-out" style="color: black"></i> Cerrar Sesion</a>

        <!-- <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>
        <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-default">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a>
        <div class="divider"></div>
        <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a> -->
      </div>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link navbar-toggler aside-menu-toggler" href="#">
        <span class="navbar-toggler-icon"></span>
      </a>
    </li> -->

  </ul>
</header>
