<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <input type="date" class="form-control" value="2017-12-01">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <input type="date" class="form-control" value="2018-02-28">
      </div>
    </div>   
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Estadísticas
          <a href=""> <i class="fa fa-file-pdf-o fa-2x float-right" aria-hidden="true" style="color: red;"></i></a>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <i class="icon-graph icon-bg"></i>Registro de nuevos usuarios
                </div>
                <div class="card-body" ng-controller="BarCtrl">
                  <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-2 mr-5">
                <div class="btn btn-warning  text-white" style="font-size: 12px;"><h6>Usuarios Capacitados</h6><h2>130</h2></div>
                  
                  
                </div>
                 <div class="col-2 mr-5 ">
                <div for="" class="btn btn-info text-white" style="font-size: 12px;">
                <h6>Instructores Activos</h6><h2>40</h2></div>
                  
                  
                </div>
                 <div class="col-2 mr-5">
                <div for="" class="btn btn-success" style="font-size: 12px;"><h6>Usuarios Instructores</h6><h2>15</h2></div>
                  
                  
                </div>
                 <div class="col-2 mr-5"> 
                <div class="btn btn-danger" style="font-size: 12px;"><h6>Curso con mas reprobados</h6><h2>Redes (7)</h2></div>
                  
                  
                </div>        
              </div>
            </div>
            <!--<div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <i class="icon-graph icon-bg"></i>Disponibilidad
                  </div>
                  <div class="card-body" ng-controller="LineCtrl">
                    <canvas id="line" class="chart chart-line" chart-data="dataAva" chart-labels="labels" chart-legend="true" chart-series="seriesAva" chart-click="onClick"></canvas>
                    
                  </div>
                </div>
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
