<div class="animated fadeIn" ng-controller="DispositivesCtrl">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Listado de Dispositivos
        </div>
        <div class="card-body">
          <div class="form-group">
            <div class="controls">
              <div class="row">
                <div class="col-md-3">
                  <div class="input-group">
                    <input id="appendedInputButton" class="form-control" type="text" placeholder="Buscar Dispositivo">
                    <span class="input-group-append">
                      <button class="btn btn-secondary" type="button"><i class="icon-magnifier"></i></button>
                    </span>
                  </div>
                </div>
                <div class="col-md-3 offset-md-6">
                  <button ng-click="open('md', {} )" class="btn btn-primary" style="float: right; margin-bottom: 10px;">Nuevo Dispositivo</button>
                </div>
              </div>
            </div>
          </div>
          <table ng-init="readDevices()" st-table="devicesData" class="table table-striped">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Dirección IP</th>
                <th>Marca</th>
                <th>Identificador</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="device in devicesData">
                <td>{{device.name}}</td>
                <td>{{device.ip_address}}</td>
                <td class="text-capitalize">{{device.brand}}</td>
                <td>{{device.identifier}}</td>
                <td>
                  <button type="button" class="btn btn-info"><i class="fa fa-pencil" style="color: white;" ng-click="open('md', device)"></i></button>
                  <button type="button" class="btn btn-danger"><i class="fa fa fa-trash" ng-click="delete(device.id)"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
