<div class="animated fadeIn" ng-controller="SnmpCtrl">
  <div class="row">
    <button ng-click="mostrar_curso(course_generator)" class="btn btn-primary ml-3" style="float: right; margin-bottom: 10px;">{{mostrar}} Planificación</button>
    <div class="col-lg-12 animated fadeIn" ng-if="course_generator">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Planificación Generada
        </div>
        <div class="card-body">
         <button class="btn btn-warning ml-3" style="float: right; margin-bottom: 10px; color: white;">Editar</button>
          <div class="form-group">
            <label for="">Nombre del Curso</label>
            <div class="input-group mb-3">
              <span class="input-group-addon"><i class="icon-cursor"></i></span>
              <input type="text" class="form-control" placeholder="{{dataCourse.name}}" ng-model="commandData.command" disabled>
            </div>
            <label for="">Fecha de Inicio</label>
            <div class="input-group mb-3">
              <span class="input-group-addon"><i class="icon-cursor"></i></span>
              <input type="text" class="form-control" placeholder="{{dataCourse.start}}" ng-model="commandData.command" disabled>
            </div>
          </div>
          <label for="">Listado de Usuarios Seleccionados</label>
          <table ng-init="readDevices()" st-table="devicesData" class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cédula</th>
                <th>Nivel</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in dataCourse.users ">
                <td>{{$index+1}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}
                </td>
                <td>
                {{user.id}}
                </td>
                <td>
                  {{user.level}}
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td> <button type="button" class="btn btn-success px-4">Añadir usuario</button></td>
              </tr>
            </tbody>
          </table>
          <label for="">Fecha de Evaluación</label>
            <div class="input-group mb-3">
              <span class="input-group-addon"><i class="icon-cursor"></i></span>
              <input type="text" class="form-control" placeholder="{{dataCourse.evaluation}}" disabled>
            </div>
          <div class="row">
            <label class="col-6">Salón</label>
             <label class="col-6">Instructor</label>
            <div class="input-group col-6">
              <select class="form-control" disabled>
              <option value="">Sala de Eventos de Petrodelta</option>
              <option value="">Sala de Reuniones Petrodelta</option>
              <option value="">Sala de PDVSA ESEM</option>
            </select>
            </div>

            <div class="input-group col-6">
              <select class="form-control" disabled>
              <option value="">Annedys Campos</option>
              <option value="">Sala de Reuniones Petrodelta</option>
              <option value="">Sala de PDVSA ESEM</option>
            </select>
            </div>
             <label class="col-6">Recursos</label>
             <label class="col-6">Tags</label>
            <div class="input-group col-6">

                  <label  class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" checked disabled>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">
                    {{dataCourse.refrigers}} Refrigerios
                  </span>

                </label>
                 <label  class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" checked disabled>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">
                    {{dataCourse.content}} Materiales de Apoyo
                  </span>
                 </label>

            </div>

            <div class="input-group col-6">
              <label class="form-check-label mr-2">
                <input type="radio" class="form-check-input" checked disabled>
                Petróleo
              </label>
              <label class="form-check-label mr-2">
                <input type="radio" class="form-check-input" checked disabled>
                Perforación
              </label>
              <label class="form-check-label mr-2">
                <input type="radio" class="form-check-input" checked disabled>
                Básico
              </label>


            </div>
            <div class="col-2">
              <button ng-click="posposePlan()"class="btn btn-info float-left text-white" >Posponer Planificación</button>
            </div>
            <div class="col-2 offset-8">
              <button ng-click="acceptPlan()"class="btn btn-success ml-3 float-right text-white" >Aceptar Planificación</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
