<div class="animated fadeIn" ng-controller="SnmpAsingCtrl">
  <div class="row">
    <div class="centered">
      <div class="card">
        <div class="card-header">
          <strong>Asignar Comandos</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Comandos</label>
                <select ng-init="readCommands()" ng-model="assignement.commands" ng-options="command.id as command.command for command in commandsData" class="form-control" multiple>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Al Dispositivo</label>
                <select ng-init="readDevices()" ng-model="assignement.dispositivo_id" ng-options="device.id as device.name disable when device.snmp == 2 for device in devicesData"  class="form-control">
                  <option value="" selected>Seleccione</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer" style="text-align: center;">
          <button class="btn btn-primary" type="button" ng-click="ok()">Guardar</button>
          <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
        </div>
      </div>
  </div>
</div>
