// Here you can add other styles
.modal-backdrop {
  opacity: 0.3 !important;
}
.fade {
  opacity: 1;
}
.dropdown-item i {
  margin: 0px;
  color: white;
  text-align: center;
}
main.main{
   background: url("../img/pdvsa2.jpg") no-repeat center center fixed;
  background-size: cover;
}
.inicio{
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.modal-dialog{
  margin-top: 100px;
}
.card{
  .card-body{
    .img-fluid{
      margin-top: 30px;
    }
  }
}
textarea {
  resize: none;
}

.centered {
  margin: 0 auto;
}

.card {
  .btn-secondary:not([disabled]):not(.disabled).active {
    background-color: #3a9d5d;
    border-color: #379457;
    box-shadow: 0 0 0 0.2rem rgba(77, 189, 116, 0.5);
  }
}

.form-control[readonly] {
    background-color: inherit;
    opacity: 1;
    border: 1px solid;
}
