<div class="animated fadeIn" ng-controller="PerfilCtrl">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Perfil de Usuario
        </div>
        <div class="card-body">
          <div class="row">
          	<div class="col-3 offset-1">
          		<img ng-src="{{dataPerfil.avatar}}" class="img-avatar">
          		<button class="btn btn-success mt-3 ml-3">Cambiar imagen</button>
          	</div>
          	<div class="col-5">
          		<h3 class="mt-4"> {{dataPerfil.first_name}} {{dataPerfil.last_name}}</h3>
          		<h5>C.I {{dataPerfil.id}}</h5>
          	</div>
          	<div class="col-3">
          		<h4 class="mt-4">{{dataPerfil.user_type}}</h4>
          	</div>
          </div>
          <div class="row">

          	<div class="col-6 mt-4">
          		<label>Teléfono</label>
          		<div class="input-group mb-3">
			        <span class="input-group-addon"><i class="icon-phone"></i></span>
			        <input type="text" class="form-control" value="{{dataPerfil.phone}}" placeholder="Nombres" required>
		      </div>
		      <label>Teléfono Celular</label>
		      <div class="input-group mb-3">
			        <span class="input-group-addon"><i class="icon-call-in"></i></span>
			        <input type="text" class="form-control" value="{{dataPerfil.cel_phone}}" placeholder="Nombres" required>
		      </div>
		      <label>Indicador</label>
		      <div class="input-group mb-3">
			        <span class="input-group-addon"><i class="icon-directions"></i></span>
			        <input type="text" class="form-control" value="{{dataPerfil.indicator}}" placeholder="Nombres" required>
		      </div>

          	</div>
          	<div class="col-6 mt-4">
          		<label>Correo PDVSA</label>
          		<div class="input-group mb-3">
			        <span class="input-group-addon"><i class="icon-globe"></i></span>
			        <input type="text" class="form-control" value="{{dataPerfil.pdvsa_email}}" placeholder="Nombres" required>
		      </div>
		      <label>Contraseña</label>
		      <div class="input-group mb-3">
			        <span class="input-group-addon"><i class="icon-ban"></i></span>
			        <input type="password" class="form-control" value="{{dataPerfil.password}}" placeholder="Nombres" disabled>
		      </div>
		     	 <button ng-click="savePerfil()" class="btn btn-success" style="float: left; margin-bottom: 10px;">Guardar</button>
          		 <button ng-click="open('md',{})" class="btn btn-primary" style="float: right; margin-bottom: 10px;">Cambiar Contraseña</button>
          	</div>
          </div>





        </div>
      </div>
    </div>
  </div>
</div>
