<div class="app flex-row align-items-center" ng-controller="registerCtrl">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">

              <h3>Registro nuevo usuario| SACC</h3> 
        <div class="card-group">
          <div class="card p-3">
            <div class="card-body">            
              <form ng-submit="register()">              	
                <label for="">Nombres</label>
                <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input ng-model="loginData.ci" type="text" class="form-control" placeholder="Nombres" >
                </div>
                 <label for="">Apellidos</label>
                <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input ng-model="loginData.ci" type="text" class="form-control" placeholder="Apellidos" >
                </div>
                 <label for="">Cédula</label>
                <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-key"></i></span>
                  <input ng-model="loginData.ci" type="text" class="form-control" placeholder="Cédula" >
                </div>
                 <label for="">Indicador</label>
                <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-directions"></i></span>
                  <input ng-model="loginData.ci" type="text" class="form-control" placeholder="Indicador" >
                </div>
                 <label for="">Gerencia</label>
                <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-organization"></i></span>
                  <input ng-model="loginData.ci" type="text" class="form-control" placeholder="Gerencia" >
                </div>
                 <label for="">Departamento</label>
                <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-crop"></i></span>
                  <input ng-model="loginData.ci" type="text" class="form-control" placeholder="Departamento" >
                </div>
                 <label for="">Cargo</label>
                <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-eyeglass"></i></span>
                  <input ng-model="loginData.ci" type="text" class="form-control" placeholder="Cargo" >
                </div>     
            </div>
          </div>
           <div class="card p-3">
            <div class="card-body">                  	
                <label for="">Teléfono</label>
                <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-phone"></i></span>
                  <input ng-model="loginData.ci" type="text" class="form-control" placeholder="Teléfono" >
                </div>
                 <label for="">Teléfono Celular</label>
                <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-call-in"></i></span>
                  <input ng-model="loginData.ci" type="text" class="form-control" placeholder="Teléfono Celular" >
                </div>
                 <label for="">Profesión</label>
                <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-star"></i></span>
                  <input ng-model="loginData.ci" type="text" class="form-control" placeholder="Profesión" >
                </div>
                 <label for="">Correo PDVSA</label>
                <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-globe"></i></span>
                  <input ng-model="loginData.ci" type="text" class="form-control" placeholder="Correo PDVSA" >
                </div>
                 <label for="">Supervisor</label>
                <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-eye"></i></span>
                  <input ng-model="loginData.ci" type="text" class="form-control" placeholder="Supervisor" >
                </div>
                 <label for="">Cursos Realizados</label>
                <div class="input-group mb-3">
                  <label  class="custom-control custom-checkbox">
                	<input type="checkbox" class="custom-control-input">
                	<span class="custom-control-indicator"></span>
                	<span class="custom-control-description">
                		OFM
                	</span>

                </label>
                 <label  class="custom-control custom-checkbox">
                	<input type="checkbox" class="custom-control-input">
                	<span class="custom-control-indicator"></span>
                	<span class="custom-control-description">
                		OpenWel
                	</span>
                 </label>
                 <label  class="custom-control custom-checkbox">
                	<input type="checkbox" class="custom-control-input">
                	<span class="custom-control-indicator"></span>
                	<span class="custom-control-description">
                		Centinela
                	</span>
                 </label>
                 <br>
             </div>
                 <div class="input-group mb-3">
                 <label  class="custom-control custom-checkbox">
                	<input type="checkbox" class="custom-control-input">
                	<span class="custom-control-indicator"></span>
                	<span class="custom-control-description">
                		Geographic
                	</span>
                 </label>
                 <label  class="custom-control custom-checkbox">
                	<input type="checkbox" class="custom-control-input">
                	<span class="custom-control-indicator"></span>
                	<span class="custom-control-description">
                		Eclipse
                	</span>
                 </label>
                </div>                
                <div class="row">
                  <div class="col-6">
                    <button type="submit" class="btn btn-danger px-4">Registrarse</button>
                  </div>
                  <div class="col-6">
                    <button type="button" class="btn btn-info px-4" style="color: white;"ng-click="volver()">Volver</button>
                  </div>
                   
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
