<div class="animated fadeIn" ng-controller="ActiRemoCtrl">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Listado de Históricos de cursos
        </div>
        <div class="card-body">
          <!-- <button class="btn btn-secondary" type="button" ng-click="open('md')"><i class="icon-magnifier"></i></button> -->

          <div class="form-group">
            <div class="controls">
              <div class="row">
                <div class="col-md-4 offset-md-8">
                  <div class="input-group">
                    <input id="appendedInputButton" class="form-control" type="text" placeholder="Buscar Histórico">
                    <span class="input-group-append">
                      <button class="btn btn-secondary" type="button"><i class="icon-magnifier"></i></button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Acción</th>
                <th>Detalle</th>
                <th>Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="device in devicesData">
                <td>{{device.action}}</td>
                <td>{{device.detail}}</td>
                <td>{{device.date}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
