<div class="modal-header">
  <h3 class="modal-title">Ejecutar Comando</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group mb-3">
        <span class="input-group-addon"><i class="icon-pin"></i></span>
        <select ng-model="actionMicro.selectedAction" class="form-control">
          <option value="0">Acción a Realizar</option>
          <option value="Ping">Ping</option>
          <option value="Reiniciar">Reiniciar</option>
          <option value="Apagar">Apagar</option>
          <option value="Prender">Prender</option>
        </select>
      </div>
    </div>
    <div class="col-md-12">
      <div  ng-init="getAllModal()" class="form-group">
        <label>Al Dispositivo</label>
        <select ng-model="actionMicro.selectedActionDevices" class="form-control">
          <option value="0">Seleccione</option>
          <option ng-repeat="device in modalDevicesData | filter : {controller_id:selectedDevice.id}" value="1">{{device.name}}</option>
        </select>
      </div>
      <div ng-if="showResult">
        <span ng-if="showResultLoad">Esperando respuesta</span>
        <textarea readonly style="width: 100%; " ng-if="!showResultLoad" ng-model="responseContent" name="name" rows="8" cols="80">
        </textarea>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="exec()">Ejecutar</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>
