<div class="modal-header">
  <h3 class="modal-title">Ejecutar Comando</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div ng-init="readCommands()" class="col-md-12">
      <div ng-init="getDeviceComand()" class="input-group mb-3">
        <span class="input-group-addon"><i class="icon-pin"></i></span>
        <select class="form-control" ng-model="action.selectedCommand">
          <option selected value="0">Acción a Realizar</option>
          <option ng-repeat="command in deviceCommand" value="{{command.command_id}}">{{getCommand(command.command_id).command}}</option>
        </select>
      </div>
      <div ng-if="showResult">
        <span ng-if="showResultLoad">Esperando respuesta</span>
        <textarea readonly style="width: 100%; " ng-if="!showResultLoad" ng-model="responseContent" name="name" rows="8" cols="80">
        </textarea>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">Ejecutar</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>
