<div class="animated fadeIn" ng-controller="StatusCtrl">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Rendimiento de Estudiantes
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <p><b>Ultimo Curso Realizado: </b>Centinela Avanzado</p>
            </div>
            <div class="col-md-4 offset-md-2">
              <p class="text-right"><b>Empresa: </b> Morichal</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p><b>Cursos Realizados: </b> 6</p>
            </div>
            <div class="col-md-4 offset-md-2">
              <p class="text-right"><b>Aprobados: </b> 4</p>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-2">
              <p><b>Activos: </b> 12 / 5</p>
            </div>
            <div class="col-md-10">
              <div class="form-group">
                <select class="form-control">
                  <option>Dispositivos</option>
                  <option></option>
                  <option ></option>
                </select>
              </div>
            </div>
          </div> -->
          <div class="row mt-3">
            <div class="col-md-3 text-center" style="margin-top: 10rem;">
              <p><b>Mayor Nota: </b> 9.7</p>
              <p><b>Ultima Planificación: </b>03/03/2018	14:20</p>
            </div>
            <div class="col-md-9">
              <div class="card">
                <div class="card-header">
                  <i class="icon-graph icon-bg"></i>Rendimiento
                </div>
                <div class="card-body" ng-controller="LineCtrl">
                  <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
