<div class="modal-header">
  <h3 class="modal-title">{{report.name}}</h3>
  <h5 style="margin-top: 7px;"><b>{{report.device}}</b></h5>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <p><b>Generado:</b>{{report.date}}</p>
    </div>
    <div class="col-md-6">
      <p class="text-right"><b>Estado:</b> <span class="badge" ng-class="{ 'badge-warning':(report.status=='Pendiente'), 'badge-success':report.status=='Resuelto', 'badge-danger':report.status=='Fallido'}">{{report.status}}</span></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Comando</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="command in report.commands">
            <td>{{command.command}}</td>
            <td>{{command.response}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-8">
      <div class="form-group">
        <label><b>Stacktrace</b></label>
          <textarea cols="30" rows="10" readonly class="form-control form-control-plaintext text-justify">{{report.stacktrace}}</textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-info" type="button" ng-click="ok()">Cerrar</button>
</div>
