<div class="animated fadeIn" ng-controller="RepoCtrl">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Listado de Reportes
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Dispositivo</th>
                <th>Dirección IP</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-click="open('lg',firstReport)">
                <td>Router Oficina 2</td>
                <td>192.168.1.13</td>
                <td>28/02/2018</td>
                <td>10:40</td>
                <td><span class="badge badge-warning">Pendiente</span></td>
                <td><a href=""><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true" style="color: red;"></i></a></td>
              </tr>
              <tr ng-click="open('lg',secondReport)">
                <td>Switch Sala de Servidores</td>
                <td>192.168.1.118</td>
                <td>1/03/2018</td>
                <td>00:35</td>
                <td><span class="badge badge-success">Resuelto</span></td>
                <td><a href=""><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true" style="color: red;"></i></a></td>
              </tr>
              <tr ng-click="open('lg',thirdReport)">
                <td>Router Sala de Servidores</td>
                <td>192.168.1.1</td>
                <td>3/03/2018</td>
                <td>14:20</td>
                <td><span class="badge badge-danger">Fallido</span></td>
                <td><a href=""><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true" style="color: red;"></a></i></td>
              </tr>
              <!-- <tr>
                <td>Switch Gerencia</td>
                <td>192.168.1.19</td>
                <td>09/11/2017</td>
                <td>10:20</td>
                <td><span class="badge badge-success">Resuelto</span></td>
                <td><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true" style="color: red;"></i></td>
              </tr>
              <tr>
                <td>Router Sala de Servidores</td>
                <td>192.168.1.1</td>
                <td>09/11/2017</td>
                <td>08:45</td>
                <td><span class="badge badge-success">Resuelto</span></td>
                <td><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true" style="color: red;"></i></td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
