<div class="animated fadeIn" ng-controller="CoursesMadeCtrl">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Listado de Cursos Realizados
        </div>
        <div class="card-body">
          <div class="form-group">
            <div class="controls">
              <div class="row">
                <div class="col-md-4">
                  <div class="input-group">
                    <input id="appendedInputButton" class="form-control" type="text" placeholder="Buscar Curso">
                    <span class="input-group-append">
                      <button class="btn btn-secondary" type="button"><i class="icon-magnifier"></i></button>
                    </span>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <table ng-init="readMicros()" st-table="microsData" class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Curso</th>
                <th>Fecha</th>
                <th>Nota de Evaluación</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="micro in microsData">
                <td>{{$index+1}}</td>
                <td>{{micro.name}}</td>
                <td>{{micro.date}}</td>
                <td>{{micro.record}}</td>
                <td>
                  <button type="button" class="btn btn-info" ng-click="open('md', micro)"><i class="fa fa-pencil" style="color: white;"></i></button>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
