<div class="animated fadeIn" ng-controller="EvaluationCtrl">
  <div class="row">
    <div class="col-lg-12">
      <button ng-if="!testStart" type="button" class="btn btn-success mb-3" ng-click="executeTest()"><i class="fa fa-pencil" style="color: white;"></i>Iniciar Prueba</button>
      <div ng-if="testStart"class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>Evaluación
        </div>
        <div class="card-body">
          <div class="row" ng-repeat="micros in microsData">
            <div class="col-md-12">
              <p>{{micros.answer}}</p>
            </div>
            <div class="col-md-12 offset-md-4">
              <label class="form-check-label mr-2" ng-repeat="option in micros.option">
                <input type="radio" class="form-check-input">
                {{option}}
              </label>

            </div>
            <div class="col-md-12">
                <button type="button" class="btn btn-success mt-3 float-right" ng-click="sendAnswer()"><i class="fa fa-pencil" style="color: white;"></i>Siguiente Pregunta</button>
            </div>
            <div class="col-md-12">
              <button type="button" class="btn btn-warning mt-3 float-right text-white"><i class="fa fa-bin" style="color: white;"></i>Finalizar evaluación</button>
            </div>
          </div>

          <!-- <div class="row">
            <div class="col-md-2">
              <p><b>Activos: </b> 12 / 5</p>
            </div>
            <div class="col-md-10">
              <div class="form-group">
                <select class="form-control">
                  <option>Dispositivos</option>
                  <option></option>
                  <option ></option>
                </select>
              </div>
            </div>
          </div> -->

        </div>
      </div>
    </div>
  </div>
</div>
